*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  text-transform: uppercase;
}

h1 {
  color: black;
  font-family: sans-serif;
  font-weight: 20;
  font-size: large;
  font-style: italic;
}

h2 {
  color: black;
  font-family: sans-serif;
  font-weight: 20;
  font-size: large;
  font-style: italic;
  display: flex;
  flex-direction: row;
}

.pictures {
  width: 70%;
  margin: auto;

  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 60px;

  /* border: solid red 10px; */
}

.pictures img {
  width: 40%;
  margin-bottom: 25.4%;
}
